@import url('https://fonts.cdnfonts.com/css/valentine-cute');

body {
    min-height: 100vh;
    background-color: #000;
    overflow: hidden;
    perspective: 1000px;
    background-image: radial-gradient(ellipse at top, transparent 0%, #000), radial-gradient(ellipse at bottom, #000, rgba(145, 233, 255, 0.2)), repeating-linear-gradient(220deg, rgb(0, 0, 0) 0px, rgb(0, 0, 0) 19px, transparent 19px, transparent 22px), repeating-linear-gradient(189deg, rgb(0, 0, 0) 0px, rgb(0, 0, 0) 19px, transparent 19px, transparent 22px), repeating-linear-gradient(148deg, rgb(0, 0, 0) 0px, rgb(0, 0, 0) 19px, transparent 19px, transparent 22px), linear-gradient(90deg, #7F00FF, rgb(240, 240, 240));
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
}

.whole {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

@media (max-width: 1090px) {
    .bottom, .top, .content {
        flex: 1;
        height: 120px; /* Decreased height for mobile */
    }

    h1 {
        font-size: 30px; /* Adjusted font size for mobile */
        margin-top: 10px; /* Adjusted margin for mobile */
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.top, .bottom {
    flex: 1;
    height: 180px;
    width: 100%;
    overflow: hidden;
}

#topslide, #bottomslide {
    animation: fadeIn 15s ease-in;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

h1 {
    flex: 1;
    font-size: 40px;
    font-family: 'Valentine Cute', sans-serif;
    color: purple;
    text-align: center;
    margin-top: 20px;
    animation: fadeIn 5s ease-in;
}

#flower-frame {
    flex: 1;
}
